.cu-p {
  cursor: pointer;
}

.cu-d {
  cursor: default;
}

.o-h {
  overflow: hidden;
}

.oy-s {
  overflow-y: scroll;
}

.ox-s {
  overflow-x: scroll;
}

.lh-n {
  line-height: normal;
}

/* 省略 */
.c-e {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.c-e-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.c-e-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
